[Desktop Entry]
Categories=Network;InstantMessaging;
Comment[en_US]=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=/usr/bin/discord
GenericName[en_US]=Internet Messenger
GenericName=Internet Messenger
Icon=discord
MimeType=
Name[en_US]=Discord
Name=Discord
Path=/usr/bin
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
