[Desktop Entry]
Comment[en_US]=
Comment=
Exec=~/Desktop/Configs/realsr-ncnn.sh
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=realsr-ncnn
Name=realsr-ncnn
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
