[Unit]
Description=ChikaWallpaper

[Service]
Type=forking
User=manjaro
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=/bin/chmod +x /home/manjaro/.config/plasma-workplace/env/veryimportant.sh
ExecStartPost=/home/manjaro/.config/plasma-workplace/env/veryimportant.sh

[Install]
WantedBy=multi-user.target
