[Unit]
Description=ChikaWallpaper

[Service]
Type=forking
User=manjaro
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=/bin/bash -c "chmod +x /home/manjaro/.config/plasma-workplace/env/veryimportant.sh"
ExecStartPost=/bin/bash -c "/home/manjaro/.config/plasma-workplace/env/veryimportant.sh"

[Install]
WantedBy=multi-user.target