[Desktop Entry]
Comment[en_US]=
Comment=
Exec=testdisk
GenericName[en_US]=
GenericName=
MimeType=
Name=TestDisk
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
